<%- layout('layouts/main.ejs') %>



<header class=" max-w-lg mx-auto">
    <h1 class="text-4xl font-bold text-white text-center">Olvidaste tu password </h1>
</header>

<main class="bg-white max-w-lg mx-auto p-8 md:p-12 my-10 rounded-lg shadow-2xl">
<section>
    <h3 class="font-bold text-2xl">Reseteo password</h3>
    <p class="text-gray-600 pt-2">Ingresa tu email para recibir link de reseteo de password</p>
</section>

<section class="mt-10">
    <form id="formulario"class="flex flex-col" method="POST" action="/forgot">
        <div class="mb-6 pt-3 rounded bg-gray-200 ">
            <label class="block text-gray-700 text-sm font-bold mb-2 ml-3"   for="email">Email</label>
            <input type="email" class="bg-gray-200 rounded w-full text-gray-700 focus:outline-none border-b-4 border-gray-300 focus:border-purple-600 transition duration-500 px-3 pb-3" name="email" >

        </div>

      
        <% var test =mensajeEmail; %>
    
        <% if (mensajeEmail.length > 0) { %>


         

            
            <script>
                const olvidaste = document.querySelector('.nuevoPassword');
            


                var getTest = "<%= test  %>";  
                console.log(getTest)
       
                const parrafo = document.createElement('p');
                parrafo.textContent = getTest;
                 parrafo.classList.add('text-center','my-10', 'p-2', 'bg-red-500', 'text-white', 'font-bold', 'uppercase');
                 formulario.insertBefore(parrafo, olvidaste);
                
                 setTimeout(() =>{

                  parrafo.remove();
                   resetearFormulario(e);
            
                },3000);
    




            
             </script>
             <script>

                
             </script>
      
      
        
        <%   }  %>

     

    <button class="bg-purple-600 hover:bg-purple-700 text-white font-bold py-2 rounded shadow-lg hover:shadow-xl transition duration-200 mt-5 nuevoPassword"  type="submit" >Enviar Link reseteo</button>
   
            
    
            

    </form>

</section>



</main>


<div class="max-w-lg mx-auto text-center mt-12 mb-6">
<p class="text-white">¿No tenés una cuenta? <a href="/registro" class="font-bold hover:underline">Registrate</a></p>

</div>







