<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
        .body-bg{
            background-color: #9921e8;
            background-image: linear-gradient(321deg, #9921e8 0%, #5f72be 74%);
        }


.password-icon {
  float: right;
  position: relative;
  margin: -25px 10px 0 0;
  cursor: pointer;
}
    </style>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.0.2/tailwind.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" integrity="sha256-h20CPZ0QyXlBuAw7A+KluUYx/3pK+c7lYEpqLTlxjYQ=" crossorigin="anonymous" />

    <link rel="stylesheet" href="/estilos.css">
</head>
<body class="body-bg min-h-screen pt-12 md:pt-20 pb-6 md:px-0" style="font-family:'Lato',sans-serif;">

  

    <%- body %>

<footer class="max-w-lg  mx-auto flex text-white justify-center">
    <a href="" class="hover:underline">Contacto</a>
    <span class="mx-3">.</span>
    <a href="#" class="hover:underline">Privacy</a>


</footer>
<script type="text/javascript" src="app.js">

  

</script>
</body>
</html>


















<!-- 

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login NodeJS</title>
</head>
<body>
    <% if (mensajeRegistro) { %>

        <div><%= mensajeRegistro %></div>
    
    <%   }  %>

    <% if (mensajeLogin) { %>

        <div><%= mensajeLogin %></div>
    
    <%   }  %>

    <%- body %>
    
</body>
</html>  -->